
a{
  float:right;
  margin:5px;
  color:#a17c33;
}
#formsdiv{
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  height:100%;
}
#loginForm,#RegisterForm,#addItem{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width:45%;
  border-style: ridge;
  margin:10px;
  border-color: #703800;
  height:100%;
}
#addItem{
  width:80%;
  font-size: 12px;
}
h2,input{
  margin:5px;
  width:40%;
  background: transparent;
  color:#a17c33;
}
input{
  border-style: hidden;
  border-bottom-style: ridge;
  border-color: #703800;
}
h1{
  width:100%;
  text-align: center;
  color:#a17c33	;
}
button{
  margin: 15px;
  background-color: transaprent;
  background: transparent;
  border-color: #703800;
  color: #a17c33;
  border-radius: 3px;
  border-width: thin;
  float:right;
  width:25%;
  height:15%;
  font-size: 20px;
}
